<aside class="sidebar">

  <div class="sidebar-card">

    <div class="sidebar-top">

      {{ with .Site.Params.logo }}
        <div class="site-logo">
          <img src="{{ . | relURL }}" alt="Logo">
        </div>
      {{ end }}

      <h1 class="site-title">{{ .Site.Title }}</h1>

      {{ with .Site.Params.siteDescription }}
        <p class="site-description">{{ . }}</p>
      {{ end }}
      {{ partial "social.html" . }}

    </div>

    <div class="sidebar-divider"></div>

    <nav class="site-nav">
      <ul>
        {{ range .Site.Menus.main }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>

  </div>

</aside>
