{{ define "main" }}
<section class="post-list">

  {{ $post := where .Site.RegularPages "Section" "post" }}  {{/* выбираем только контент из папки posts */}}
  {{ $paginator := .Paginate $post }}                         {{/* пагинация */}}

  {{ range $paginator.Pages }}
    <article class="post-item">
      <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <div class="post-meta">{{ .Date.Format "02 Jan 2006" }}</div>
      {{ if .Summary }}<p class="post-summary">{{ .Summary }}</p>{{ end }}

      {{ partial "post-taxonomies.html" . }}
    </article>
  {{ end }}

</section>

{{ partial "pagination.html" . }}
{{ end }}
